@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

    <ul>
        <li><a href="#">Index</a></li>
        <li>
            <a href="~/HelperMethodDemo/FormDemo">폼생성</a>
            <a href="/HelperMethodDemo/FormDemo">폼생성</a>
        </li>
        <li>
            @Html.ActionLink("입력요소", "InputDemo")
            <a href="/HelperMethodDemo/InputDemo">입력요소</a>
        </li>
        <li>
            @Html.ActionLink("선택요소", "SelectDemo", "HelperMethodDemo")
            <a href="/HelperMethodDemo/SelectDemo">선택요소</a>
        </li>
        <li>
            @Html.ActionLink("강력한형식", "StronglyTypedDemo", new { Id = 1234 })
            <a href="/HelperMethodDemo/StronglyTypedDemo/1234">강력한형식</a>
        </li>
        <li>
            <a href="@Url.Action("CssClassDemo")">CSS Class 속성 사용</a>
            <a href="@Url.Action("CssClassDemo", "HelperMethodDemo")">CSS Class 속성 사용</a>
        </li>
        <li>
            <a asp-action="PartialViewDemo">부분뷰</a>
            <a asp-controller="HelperMethodDemo" asp-action="PartialViewDemo">부분뷰</a>
        </li>
    </ul>
