@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Helper.Controllers.StrongTypedClass
@{
    Layout = null;
}
<h3>StronglyTypedClass</h3>

<h4>출력(Razor)</h4>
@Model.Id, @Model.Name, @Model.Age

<h4>출력(기본)</h4>
@Html.Display("Id"),
@Html.Display("Name"),
@Html.Display(nameof(Model.Age))

<h4>출력(강력한 형식)</h4>
@Html.DisplayFor(i => i.Id),
@Html.DisplayFor(n => n.Name),
@Html.DisplayFor(a => a.Age)

<h4>입력</h4>
@Html.TextBoxFor(m => m.Id),
@Html.TextBoxFor(m => m.Name),
@Html.TextBoxFor(m => m.Age)
